
/*Estilos lgoin*/
.body{
   
    background: #FFF2F2;
    text-align: center;
    font-family: roboto;
    margin: auto;
}


.login-form{
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    background: #E5E0FF;
    box-shadow: -2px 5px 5px 7px #90AACB;
}
.login-form, h1{
    text-align: center;
    color: #000;
    font-size: 28px;
    padding: 70px 0 10px 0;
}

.login-form input[type="password"],
.login-form input[type="text"]{
    width: 95%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.btn-login{
    width: 95%;
    padding: 15px;
    background-color: #7286D3;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #fff;
}
.btn-login:hover, .btn-login:active{
    background-color: #90AACB;
    border-color: #90AACB;
    color: #fff;
}
.btn-login:focus{
    box-shadow: 0 0 0 3px #7286D3;
}


.btn-register{
    width: 95%;
    padding: 15px;
    background-color: #8EA7E9;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #fff;
    margin-top: 10px;
    /*apariencia dle button*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}
.btn-register:hover, .btn-register:active{
    background-color: #90AACB;
    border-color: #90AACB;
    color: #fff;
}
.btn-register:focus{
    box-shadow: 0 0 0 3px #7286D3;
}

/* fin login */




/* inicio form register*/
.register-form {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    background: #E5E0FF;
    box-shadow: -2px 5px 5px 7px #90AACB;
}
.register-form .link-login{
    text-align: right;
    color: #000;
    font-size: 12px;
    padding: 10px 10px 10px 0;
    
}

.register-form h1{
    text-align: center;
    color: #000;
    font-size: 28px;
    padding: 20px 0 10px 0;
}

.register-form .div-label{
    text-align: left;
    color: #000;
    font-size: 16px;
    padding: 10px 0 2px 10px;    
}

.register-form input[type="password"],
.register-form input[type="text"]{
    width: 95%;
    padding: 15px;
    border: 1px solid #90AACB;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.btn-save{
    width: 95%;
    padding: 15px;
    background-color: #7286D3;
    border: 0;
    margin-top: 20px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #fff;
}
.btn-save:hover, .btn-save:active{
    background-color: #90AACB;
    border-color: #90AACB;
    color: #fff;
}
.btn-save:focus{
    box-shadow: 0 0 0 3px #7286D3;
}


.btn-cancel{
    width: 95%;
    padding: 15px;
    background-color: #8EA7E9;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    /*apariencia dle button*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}
.btn-cancel:hover, .btn-cancel:active{
    background-color: #90AACB;
    border-color: #90AACB;
    color: #fff;
}
.btn-cancel:focus{
    box-shadow: 0 0 0 3px #7286D3;
}

.select-css{
    display: block;
    font-size: 18px;
    font-weight: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 95%;
    box-sizing: border-box;
    margin: 2.5%;
    background: #fff;
}





/* INICIO FORM raiz INDEX-INVENTARIO*/
.container .cont{
background: #B9D7EA;
}
.inv-form {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    background: #E5E0FF;
    box-shadow: -2px 5px 5px 7px #90AACB;
}

.inv-form h1{
    text-align: center;
    color: #000;
    font-size: 28px;
    padding: 20px 0 10px 0;
}

.btn-guardar{
    width: 20%;
    padding: 15px;
    background-color: #7286D3;
    border: 0;
    margin-top: 20px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #fff;
    
}
.btn-guardar:hover, .btn-guardar:active{
    background-color: #90AACB;
    border-color: #90AACB;
    color: #fff;
}
.btn-guardar:focus{
    box-shadow: 0 0 0 3px #7286D3;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
  }
  @media (max-width: 540px) {  
    .flex-container {
        display: grid; 
        width: auto;
      }
    }  

.card-inventario{   
    align-self: center;
    margin: auto;
    width: 40%;
    height: auto;
}
@media (max-width: 780px) {  
    .card-inventario {
        width: 100%;
      }
    }

    .card-inventario .span{
        background: #D6E6F2;        
    }




.card-producto{    
    align-self: center;
    margin: auto;
    width: 40%;
    height: auto;
}
@media (max-width: 780px) {  
    .card-producto {
        width: 100%;
      }
    }

    
.flex-nowrap{
margin-bottom: 10px;
}

.pointer:hover{
cursor: pointer;
}


